.wa-logo {
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 1000;
    top: -24px;
    right: -24px;
}

@media only screen and (max-width: 414px) {
    .wa-logo {
        width: 48px;
        height: 48px;
    }
}